<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />

    @*<link rel="stylesheet" href="~/assets/styles/bootstrap.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/assets/styles/fontawesome-all.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/assets/styles/style.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/assets/styles/main.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/assets/styles/single.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css" />
</head>
<body style="background-color:#e9ebee">
    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
